/*===== CSS theme file for CalendarXP 8.0 (Totally configurable) =====*/
/* NOTE: Better use numbered color values instead of literal ones, because opera has problem with the latter in certain cases. */

/* Calendar Day Header - the cells showing "Sunday", "Monday" .... */
.CalHead {cursor:default; text-align:center; font:8.5pt verdana; color:black; border-bottom:1px solid #808080;}
/* Day Cell - the calendar cell of each day */
.CalCell {cursor:hand; text-align:center;}
/* Day Number Anchor style */
.CellAnchor {text-decoration:none; font:bold 7pt verdana;}

/* WeekNo Header - the top header cell of the week number column */
.WeekHead {cursor:default; text-align:center; font:8.5pt verdana; color:black;}
/* WeekNo Column Cell - the cells of the week number column */
.WeekCol {cursor:default; text-align:center; font:8pt verdana;}
/* WeekNo Anchor style */
.WeekAnchor {text-decoration:none; font:8pt verdana; }

/* Month navigators - the "<" or ">" used to move to previous or next month */
.MonthNav {vertical-align:#0000cc;}
A.MonthNav:hover {color:white;}
A.MonthNav:active {color:#0000cc}

/* styles for the 3 calendar sections (actually 3 table TDs) */
.CalTop {text-align:center;}
.CalMiddle {}
.CalBottom {text-align:center;}

/* Calendar title - showing year and month. when giDCStyle=0, it's the style of the year/month dropdowns; giDCStyle>0, it's the style to show gsCalTitle.  */
.CalTitle {text-align:center; font:8pt verdana; cursor:default; color:white; background-color:#5a8ba6; border:1px solid #5a8ba6; width:68%;}

/* The style of internal floating div/layer tags, which are usually used to create the artificial dropdown selectors. */
.FreeDiv {border:1px solid #808080;}

/* The style of the outer TABLE tag which is the outer calendar panel. */
#outerTable {border:2px solid #b5cbd7;}
/* The style of the inner DIV tag that holds the inner panel of all calendar cells. */
#innerDiv {}
/*===== Above CSS styles are commonly used in the script engine =====*/

/*====== Following are additional per-theme styles, e.g. the inner dropdown selectors and today etc. You may have your own defined. ======*/
.Today {font:8pt arial; color:#0000cc;}
A.Today:hover {color:#0000cc;}
A.Today:active {color:#0000cc;}
.BottomDiv {border-top:1px solid #696969; border-top-width:1px; height:16px;}

.PopAnchor {text-decoration:none; color:white;}
A.PopAnchor:hover {color:white;}
A.PopAnchor:active {color:white;}
.PopMenu {background:white; text-align:center; cursor:hand;}
.PopMenuItem {text-decoration:none; text-align:center; font:8pt arial; color:black;}
